body {
  padding: 0;
  margin: 0;
}

.button {
  cursor: pointer;
}

#content {
  padding-left: 10px;
  padding-right: 10px;
}

.content-text {
  padding-left: 1%;
  font-size: 20px;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #f7f7f7;
  border-bottom: solid 1px #e3e3e3;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 1%;
  text-align: center;
}

#header > * {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#header h1 {
  margin: 0;
  font-family: "Tangerine", cursive;
  padding-left: 20px;
}

#header h1 a {
  text-decoration: none;
  color: black;
}

#header nav {
  display: flex;
  overflow: auto;
  justify-content: center;
  
}

#header nav a {
  text-decoration: none;
  color: black;
  padding: 0 20px 0 0;
  font-style: "Lato", sans-serif;
}



.link {
  cursor: pointer;
}

/*------Contact Form------*/

form input {
  width: 200px;
  margin-bottom: 20px;
  margin-top: 5px;
}

form textarea {
  width: 50%;
  height: 100px;
  margin-bottom: 20px;
  margin-top: 5px;
}

form button {
  background-color: green;
  color: white;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 0%;
}

.section-home {
  display: flex;
  flex-direction: row;
}

/*------Media query for desktop------*/

@media all and (mid-width: 480px) {
  
}

/* Not sure why this didn't work:
form label {
  margin-bottom: 10px;
}
*/



/*
The following came with create-react-app:

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/