/*-----Variables-----*/
:root {
  --form-font-color: #555;
  --form-font-hover-color: green;
  --accent: purple;
  --dark: #050264;
  --body-background: #c2efeb;
  --header-background: #b4d6ae;
  --border: #81bb77;
}

/*-----Global Styles-----*/

/* This one doesn't quite work */
#root-component:focus {
  border: orange;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--body-background);
}

.content-text {
  padding-left: 1%;
  font-size: 20px;
  /*width: 100%;*/
}

.hr-title {
  width: 20%;
}

/*-----Root-----*/

#root-component {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content {
  padding-left: 10px;
  padding-right: 10px;
  flex: 1;
}

.footer {
  text-align: center;
  padding: 1rem;
  /*background-color: #f7f7f7;
  border-top: solid 1px #e3e3e3;*/
  background-color: var(--header-background);
  border-top: solid 1px var(--border);
  margin-top: 1rem;
}

.copyright {
  display: inline-flex;
  align-items: center;
}

.pig-image img {
  width: 2rem;
  height: auto;
  margin-left: 2em;
}

.reverse-pig-image img {
  width: 2rem;
  height: auto;
  margin-right: 2em;
}

/*-----Header-----*/

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: var(--header-background);
  border-bottom: solid 1px var(--border);
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 1%;
  text-align: center;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

#header > * {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#header h1 {
  margin: 0;
  font-family: "Dancing Script", "Tangerine", cursive;
  padding-left: 20px;
}

#header h1 a {
  text-decoration: none;
  color: black;
  margin-left: 2rem;
  font-size: 2.5rem;
}

#header nav {
  display: flex;
  overflow: auto;
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style-type: none;
  overflow: auto;
}

/*I added this so that the underline on the active links wouldn't disappear when it was offset by more than .2rem.*/
#header nav ul li {
  line-height: 2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 2rem;
}

.nav-link {
  text-decoration: none;
  color: black;
  padding: 0 20px 0 0;
  font-style: "Lato", sans-serif;
  transition: 0.6s;
}

.link {
  cursor: pointer;
}

.nav-link.active {
  text-decoration: underline !important;
  text-underline-offset: 0.3rem;
}

.logo:focus-visible,
.nav-link:focus-visible {
  outline: 4px solid var(--accent);
  outline-offset: 0.2em;
  border-radius: 0.5rem;
}

.nav-link:hover {
  color: blue;
}

.btn--menu {
  display: none;
}

/*-----HOME PAGE-----*/

.section-home {
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap;*/
}

#margot-pic-area {
  max-width: 30%;
}

.margot-pic {
  width: 100%;
  height: auto;
}

.home-content-text {
  font-family: Arial, Helvetica, sans-serif;
  margin: 2rem;
}

/*-----ABOUT ME PAGE-----*/

.about-title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  text-transform: uppercase;
}

.about-content-text {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 4.5rem 0 4.5rem;
}

/*-----CONTACT PAGE-----*/

.contact-page a {
  text-decoration: none;
  color: #c892a4;
  font-weight: bold;
}

.contact-text {
  width: 22.5%;
  display: flex;
  flex-direction: column;
  align-items: top;
  flex: 1;
  font-size: 24px;
  font-family: "Hind";
  margin-left: 4rem;
  margin-top: 2rem;
}

.contact-title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  text-transform: uppercase;
}

.contact-info {
  font-weight: bold;
  margin-bottom: 1rem;
}

/*-----Contact Form-----*/

.button {
  background: 0 0 var(--body-background);
  border: 1px solid #c892a4;
  border-radius: 3px;
  color: #c892a4;
  font-size: 1em;
  padding: 10px 50px;
  text-transform: uppercase;
  cursor: pointer;
}

form button {
  background-color: green;
  color: white;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  border-radius: 0%;
}

.button:hover {
  border-color: var(--form-font-hover-color);
  color: var(--form-font-hover-color);
}

.cont-container-form {
  display: flex;
  background-color: var(--body-background);
}

.container-form {
  width: 600px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  padding: 2.5em;
  padding-bottom: 1.5em;
  background-color: var(--body-background);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  flex: 2;
}

/* if I decide to go with the focused conditional selector
.focused > .form-label {
  opacity: 1;

}
*/

.form-control {
  box-shadow: none;
  border-radius: 0;
  background-color: var(--body-background);
  border-color: #c892a4;
  border-style: none none solid none;
  width: 100%;
  font-size: 1em;
  transition: all 0.6s;
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--form-font-hover-color);
  outline: none;
}

.form-control::placeholder {
  color: #c892a4;
}

.form-control:focus::placeholder {
  opacity: 0;
  transition: all 0.3s;
}

.form-control:invalid:focus {
  border-color: red;
}

.form-control:valid:focus {
  border-color: green;
}

.form-group {
  margin-bottom: 1.5em;
  transition: all 0.3s;
}

/* v This is the one I delete if I want to stop it from growing v*/
/*.form-group:focus-within {
  transform: scale(1.1, 1.1);
}*/

.form-group:focus-within .form-label {
  opacity: 1;
  transform: translateX(0px);
}

.form-label {
  font-size: 0.75em;
  color: var(--form-font-color);
  display: block;
  opacity: 0;
  transition: all 0.3s;
  transform: translateX(-50px);
}

form input {
  width: 200px;
  margin-bottom: 7px;
  margin-top: 1px;
}

form textarea {
  width: 50%;
  height: 80px;
  margin-bottom: 7px;
  margin-top: 1px;
}

textarea {
  resize: none;
}

.form-header {
  font-family: "Hind";
  margin-top: 0px;
}

/*------Media query for mobile------*/

@media all and (max-width: 708px) {
  /*-----Header-----*/

  #header h1 a {
    margin-left: 1rem;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    transform: translate3d(0, -200%, 0);
    position: absolute;
    top: 3rem;
    right: 0;
    left: 0;
    background-color: var(--dark);
    padding: 1.5rem;
    border-bottom: 4px solid var(--accent);
    text-align: center;
  }

  .nav-links.activated {
    transition: transform 0.4s cubic-bezier(0.64, 0.04, 0.26, 0.87);
  }

  .btn {
    color: white;
    padding: 0.3rem 1.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
  }

  .btn--menu {
    color: var(--accent);
    background-color: transparent;
    border: none;
    display: grid;
    place-items: center;
    padding-inline: 1rem;
    transition: transform 0.3s cubic-bezier(0.64, 0.04, 0.26, 0.87);
  }

  li[role="none"],
  .nav-link {
    width: 100%;
    display: block;
    font-size: 1.1 rem;
    text-transform: uppercase;
  }

  .btn--menu[aria-expanded="true"] {
    transform: rotate(180deg);
  }

  .btn--menu[aria-expanded="true"] + .nav-links {
    transform: translate3d(0, 0, 0);
  }

  /*-----HOME PAGE-----*/

  .section-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*flex-wrap: wrap;*/
  }

  #margot-pic-area {
    max-width: 50%;
    margin-top: 5%;
  }

  .margot-pic {
    width: 100%;
    height: auto;
  }

  .home-content-text {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.5rem 2rem 2rem;
  }

  /*-----ABOUT ME PAGE-----*/

  .about-title {
    font-size: 30px;
    margin-top: 3%;
  }

  /*-----CONTACT PAGE-----*/

  .contact-text {
    width: 100%;
  }

  /*-----Contact form-----*/

  .cont-container-form {
    display: flex;
    flex-direction: column;
  }

  .container-form {
    width: 75%;
  }
}

/* Not sure why this didn't work:
form label {
  margin-bottom: 10px;
}
*/

/*
The following came with create-react-app:

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/
