/*-----Variables-----*/
:root {
  --font-color: #555;
  --font-hover-color: green;
}

/*-----Global Styles-----*/

/* This one doesn't quite work */
#root-component:focus {
  border: orange;
}

body {
  padding: 0;
  margin: 0;
}

#content {
  padding-left: 10px;
  padding-right: 10px;
}

.content-text {
  padding-left: 1%;
  font-size: 20px;
}

/*-----CONTACT PAGE-----*/

.contact-page a {
  text-decoration: none;
  color: green;
  font-weight: bold;
}

.contact-text {
  width: 22.5%;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: left;
  flex: 1;
  font-size: 32px;
  font-family: "Hind";
  margin-left: 1rem;
}

.contact-title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  text-transform: uppercase;
}

.contact-category {
}

.contact-info {
  font-weight: bold;
  margin-bottom: 1rem;
}

/*-----Contact Form-----*/

.button {
  background: 0 0 #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  color: var(--font-color);
  font-size: 1em;
  padding: 10px 50px;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  border-color: var(--font-hover-color);
  color: var(--font-hover-color);
}

.cont-container-form {
  display: flex;

  background-color: white;
}

.container-form {
  width: 600px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  padding: 2.5em;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  flex: 2;
}

/* if I decide to go with the focused conditional selector
.focused > .form-label {
  opacity: 1;

}
*/

.form-control {
  box-shadow: none;
  border-radius: 0;
  border-color: #ccc;
  border-style: none none solid none;
  width: 100%;
  font-size: 1.25em;
  transition: all 0.6s;
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--font-hover-color);
  outline: none;
}

.form-control::placeholder {
  color: #aaa;
}

.form-control:focus::placeholder {
  opacity: 0;
  transition: all 0.3s;
}

.form-control:invalid:focus {
  border-color: red;
}

.form-control:valid:focus {
  border-color: green;
}

.form-group {
  margin-bottom: 1.5em;
  transition: all 0.3s;
}

.form-group:focus-within {
  transform: scale(1.1, 1.1);
}

.form-group:focus-within .form-label {
  opacity: 1;
  transform: translateX(0px);
}

.form-label {
  font-size: 0.75em;
  color: var(--font-color);
  display: block;
  opacity: 0;
  transition: all 0.3s;
  transform: translateX(-50px);
}

form input {
  width: 200px;
  margin-bottom: 20px;
  margin-top: 5px;
}

form textarea {
  width: 50%;
  height: 100px;
  margin-bottom: 20px;
  margin-top: 5px;
}

form button {
  background-color: green;
  color: white;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  border-radius: 0%;
}

textarea {
  resize: none;
}

.form-header {
  font-family: "Hind";
}

/*-----Header-----*/

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: #f7f7f7;
  border-bottom: solid 1px #e3e3e3;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 1%;
  text-align: center;
}

#header > * {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#header h1 {
  margin: 0;
  font-family: "Tangerine", cursive;
  padding-left: 20px;
}

#header h1 a {
  text-decoration: none;
  color: black;
}

#header nav {
  display: flex;
  overflow: auto;
  justify-content: center;
}

#header nav a {
  text-decoration: none;
  color: black;
  padding: 0 20px 0 0;
  font-style: "Lato", sans-serif;
}

.link {
  cursor: pointer;
}

/*-----HOME PAGE-----*/

.section-home {
  display: flex;
  flex-direction: row;
}

/*------Media query for desktop------*/

@media all and (mid-width: 480px) {
}

/* Not sure why this didn't work:
form label {
  margin-bottom: 10px;
}
*/

/*
The following came with create-react-app:

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/
